controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    forward_command_controller:
      type: forward_command_controller/ForwardCommandController


forward_command_controller:
  ros__parameters:
    joints: ["joint_1","joint_2","joint_3","joint_4","joint_5","joint_6"]
    interface_name: "position"

